<% taxonomies.each do |taxonomy| %>
  <li>
    <a href="javascript:;" data-toggle="collapse" data-target="#taxonomy-links-<%= taxonomy.id %>"><%= taxonomy.name %><i class="fa fa-plus"></i></a>
    <ul id="taxonomy-links-<%= taxonomy.id %>" class="collapse collapseItem">
      <li>
        <% taxonomy.leaves.each do |leaf| %>
          <%= link_to potepan_category_path(leaf.id), value: leaf.name do %>
            <i class="fa fa-caret-right" aria-hidden="true"></i><%= leaf.name %> <span>(<%= leaf.all_products.count %>)</span>
          <% end %>
        <% end %>
      </li>
    </ul>
  </li>
<% end %>
