<div class="row">
  <% taxon_products.each do |product| %>
    <%= link_to potepan_product_path(product.id) do %>
      <div class="col-sm-4 col-xs-12">
        <div class="productBox">
          <div class="productImage clearfix">
            <%= image_tag product.display_image.attachment(:small) %>
          </div>
          <div class="productCaption clearfix">
            <h5><%= product.name %></h5>
            <h3><%= product.display_price %></h3>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
